

<!--공통 CSS-->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    /*@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');*/
    * {
        margin: 0;
        padding: 0;
        /*box-sizing: border-box;*/
        font-family: 'Roboto', sans-serif;
    }
    html {
        overflow-x: hidden;
    }
    body{
        font-size: 14px;
        color: #333;
        overflow-x: hidden;
    }

.wrapper {
    background-color: black;

    width: 100%;
    height: auto;
    min-height: 300px;
    position: relative;
}

/*header*/
.nav {
    padding: 15px 35px;
    height: 50px;
    line-height: 50px;
}
.logo {
    width: 150px;
    height: auto;
    display: inline-block;
    float: left;
}

.menu{
    height: auto;
    float: right;
    display: inline-block;
}
.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;

}
.menu ul li a{
    color: #fff;
    text-decoration: none;
    /*font-family: "맑은 고딕 Semilight";*/
;
    font-size: 18px;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    /*font-weight: bold;*/
}
.menu ul li a:hover{
    color: ivory;
}

/*footer*/
.sub{

    width: 100%;
    display: inline-block;
    /*min-height: 250px;*/
    padding: 155px 0px;
    background-image: url("/images/marvel_poster.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 35px;
}
.sub p {
    color: #fff;
    /*font-family: Calibri;*/
    font-size: 24px;
    text-align: center;

}
.myform{
    margin-top: 20px;


}
.sub .email{
    height: 35px;
    border: 1px solid #948691;
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    border-radius: 7px;
    padding: 0 7px;
    width: 310px;
    /*margin-left: 38%*/
}
.sub .submit {
    height: 35px;
    background-color: rgba(255,255,255,0.255);
    border: 1px solid #fff;
    text-align: center;
    line-height: 33px;
    font-weight: bold;
    color: #fff;
    padding: 0px 25px;
    border-radius: 7px;

}
.footer{
    width: 100%;
    height: auto;
    padding: 25px 0px;
    text-align: center;

}
.footer h1{
    /*font-family: Calibri;*/
    font-weight: normal;
    color: #fff;

}
.footer h1 b{
    font-weight: 700;
    margin-right: 5px;
}
.footer p{
    /*font-family: Calibri;*/
    color: #fff;
    font-size: 18px;
    padding: 5px 0;
}





</style>