<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">




  <div th:fragment="footerFragment">
<!--    <footer>-->
<!--      <a href="#home">Home</a>-->
<!--      <a href="#about">About</a>-->
<!--      <a href="#services">Services</a>-->
<!--      <a href="#contact">Contact</a>-->
<!--      <p>Copyright © 2024 Your Company</p>-->
<!--    </footer>-->

    <div class="sub">
      <p>Get the best Movies trailers straight in your<br>
        inbox each week</p>
      <!--        <form class="myform" method="post" action="#">-->
      <!--            <input type="email" name="" class="email" placeholder="Email Address" required>-->
      <!--            <input type="submit" name="" class="submit" value="Subscribe">-->
      <!--        </form>-->
    </div>

    <div class="footer">
      <h1><b>WATCH</b>TRAILER</h1>
      <p>2024 MovieStuff | All Right Reserved</p>
      <p>Privacy Policy</p>
    </div>
  </div>

</html>
