
.bgslide {
    /*background-image: url("../images/bg.png");*/
    /*background-color: #2c3338;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    width: 100%;
    /*height: 100%;*/
    /*min-height: 750px;*/

    height: 0;
    /*float: left;*/
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    display: block;
}
.bgslide iframe{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
}
img {
    width: 100%;
}


.movie-poster{
    display: inline-block;
    /*float: left;*/
    /*width: 100%;*/
    padding: 35px 35px 30px 35px;
    /*margin-right: 15%;*/
    /*margin-left: 15%;*/
}
.movie-poster h3 {
    /*font-family: "맑은 고딕 Semilight";*/
    font-size: 28px;
    color: #fff;
    font-weight: normal;
    padding-bottom: 8px;
}
.movie-poster hr {
    background-color: #fff;
    border: none;
    height: 1px;
    width: 100%;

}
.movie-trailer-grid{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.trailer1{
    width: 22%;
    height: auto;
    margin: 0 18px 0 18px;

    float: left;
    border: 1px solid white;
    position: relative;
}

.trailer1 .movie-title {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding:25px 0 25px 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.trailer1:hover .movie-title {
    display: block;
}


.trailer-last{
    margin-right: 20px;
}
.view-all {
    display: inline-block;
    float: right;

    padding: 10px 15px;

    background-color: #262626;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 30px;
}
.view-all:hover{
    background-color: #fff;
    color: #000;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    /*background-color: #fefefe;*/
    background-color: black;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); !* Add some shadow *!*/
    animation-name: animatetop;
    animation-duration: 0.4s;
    /*height: 700px;*/
    color: #ffffff;
    font-size: 16px;

}
#movie-info {
    position: relative;
}
.image-info {
    display: flex;

    margin-bottom: 20px;
}
.content-title-image {
    margin-right: 20px;
}
.content-title{
    margin-bottom: 10px;
}
.modal-header iframe{
    width: 100%;
    height: 500px;

    border: none;

}
#movie-info .actor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.actor-img {
    width: 100px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}
.actor-list p {
    font-size: 12px;
}

/* The Close Button */
.close-modal-btn {
    /*color: #aaa;*/
    color: #ffffff;
    float: right;
    font-size: 45px;
    font-weight: bold;

}

.close-modal-btn:hover,
.close-modal-btn:focus {
    color: darkgray;
    text-decoration: none;
    cursor: pointer;
}