<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</th:block>

<!-- index.html 고유 스크립트 추가-->
<!--<th:block layout:fragment="script">-->
<!--      <script th:src="@{/js/index.js}"></script>-->
<!--</th:block>-->


<div layout:fragment="content">

    <div class="bgslide" id="trailer-container">

    </div>


    <div class="movie-poster" >
        <h3>Popular</h3>
        <hr>
        <div class="movie-trailer-grid" id="movie-container">
            <!-- 영화 목록이 여기에 표시 -->
        </div>
        <a href="#" class="view-all">View All</a>
    </div>




    <div class="movie-poster">
        <h3>Top Rated</h3>
        <hr>
        <div class="movie-trailer-grid" id="movie-container2">
            <!-- 영화 목록이 여기에 표시 -->
        </div>
        <a href="#" class="view-all">View All</a>
    </div>


    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <span class="close-modal-btn" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            <div class="modal-header" id="modal-video"></div>



        </div>


    </div>

</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/index.js}"></script>
</th:block>

</html>
