<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/movieReco.css}">
</th:block>

<!-- index.html 고유 스크립트 추가-->
<!--<th:block layout:fragment="script">-->
<!--      <script th:src="@{/js/index.js}"></script>-->
<!--</th:block>-->


<div layout:fragment="content">


        <div class="movie-poster" >
            <h3>선호하는 영화 10개를 선택해주세요.</h3>
            <div class="movie-poster-grid" id="movie-container">
                <!-- 영화 목록이 여기에 표시 -->
            </div>
        </div>

    <div class="reco-btn">
        <button type="submit" id="movieReco-btn">영화 추천!</button>
    </div>



</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/movieReco.js}"></script>
</th:block>

</html>
